$text: #FFFFFF;
$background: #1B2227;
$highlight: #3498DB;

@mixin flexbox($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

.top-nav {
  @include flexbox(row, flex-end, center);
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  margin: 0;
  padding: 0;

  background-color: $background;
  font-family: Lato;
  font-size: 1em;
  list-style-type: none;
  text-transform: uppercase;

  li {
    a {
      display: inline-block;
      cursor: pointer;
      color: $text;
      padding: 1.28em;
      text-decoration: none;
      transition: 0.25s;
    }

    a:hover:not(.active) {
      color: $highlight;
    }

    a.active {
      background-color: $highlight;
    }
  }
}

@media screen and (max-width: 768px) {
  
}
