$text: #FFFFFF;
$background: #1B2227;
$highlight: #3498DB;

@mixin flexbox($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

.top-nav {
  @include flexbox(row, flex-end, center);
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;

  background-color: $background;
  list-style-type: none;

  li {
    a {
      display: inline-block;
      padding: 1.28em;
      
      font-family: Lato;
      font-size: 1em;
      color: $text;
      text-transform: uppercase;
      text-decoration: none;
      
      cursor: pointer;
      transition: 0.25s;
    }

    a:hover:not(.active) {
      color: $highlight;
    }

    a.active {
      background-color: $highlight;
    }
  }

  li.menu {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .top-nav {
    li:not(:first-child) {
      display: none;
    }
    li.menu {
      display: inline-block;
    }
  }
}
